# database connection string and server configuration
PORT=3000
MONGODB_URI=mongodb+srv://wasal_db_user:0000@wasal.rn0ogfd.mongodb.net/wasal?retryWrites=true&w=majority&appName=wasal
JWT_SECRET=wasal_super_secret_key
JWT_EXPIRES_IN=7d
